@media (max-width: 575.98px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    position: static !important;
  }
}

.card-1 {
  position: relative;
  bottom: 75px;
}
.card-2 {
  position: relative;
  right: 40px;
}
.card-3 {
  position: relative;
  left: 60px;
}
.card-4 {
  position: relative;
  top: 95px;
  left: 15px;
}
@media (min-width: 576px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 270px;
    height: 320px;
  }
}

/* about four  */
@media (max-width: 575.98px) {
}
