/* Tablet/ Medium Device */
@media (min-width: 601px) and (max-width: 992px) {
  .btn {
    padding: 5px;
    width: 150px;
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 15px;
    line-height: 15px;
  }
  .heading {
    font-size: 25px;
    line-height: 25px;
  }
  .sub-heading {
    font-size: 18px;
    line-height: 18px;
  }
  /* Layout  */
  [class*="col-m-"] {
    float: left;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  header {
    background-color: #0040ff;
    text-align: center;
  }
  nav ul {
    text-align: center;
  }

  .hero-part {
    padding: 50px;
  }
  .hero-part h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .hero-part button {
    margin-top: 10px;
  }
}
